extends baseEmail

block content
  p Hi #{firstName},
  p Forgot your password? To reset your password please submit a PATCH request with your new 'password' and 'confirmPassword' to: #{url}
  p website for this action is not yet implemented
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') Reset your password
  p If do not forget your password please ignore this email
  p If you suspect someone may have unauthorized access to your account, we suggest you to change your password.