extends base

block content
    section.section-description
        .overview-box
            div
                .picture-box
                    img.picture-box__img(src=`/img/users/tousif.jpg`, alt=`tousif`)

        .description-box
            h2.heading-secondary.ma-bt-lg About Me
            p.description__text This is my portfolio project. Here I showcase some of my technical skills. It's API built using Node, Express, MongoDB, Mongoose, JWT. The map is implemented using Mapbox API. The front end is server side rendered built using Pug. Payment is Stripe test mode, no one will be charged if someone tries to book a tour.